In [1]:
import mysql.connector
cnx = mysql.connector.connect(user='root', host='localhost',password='1998')

In [2]:
mycursor = cnx.cursor()
mycursor.execute('Create database new;')
mycursor.execute('use new;')
mycursor.execute('Create table movie(Name varchar(50),Lead_Actor varchar(50),Lead_Actress varchar(50),Release_Year INT,Director_Name varchar(50));')

In [4]:
mycursor.execute("""Insert into movie values
                ('Interstellar','Matthew McConaughey','Anne Hathaway',2014,'Christopher Nolan'),
                ('Ms Dhoni The Untold Story','Sushant Singh Rajput','Kiara Advani',2016,'Neeraj Pandey'),
                ('Tanhaji The Unsung Warrior','Ajay Devgn','Kajol Devgn',2020,'Om Raut'),
                ('Logan','Hugh Jackman','Dafne Keen',2017,'James Mangold'),
                ('Dangal','Aamir Khan','Kiran Rao',2016,'Nitesh Tiwari');""")
cnx.commit()

In [9]:
mycursor.execute('Select * from movie')
res=mycursor.fetchall()
for i in res:
    print(i)

('Interstellar', 'Matthew McConaughey', 'Anne Hathaway', 2014, 'Christopher Nolan')
('Ms Dhoni The Untold Story', 'Sushant Singh Rajput', 'Kiara Advani', 2016, 'Neeraj Pandey')
('Tanhaji The Unsung Warrior', 'Ajay Devgn', 'Kajol Devgn', 2020, 'Om Raut')
('Logan', 'Hugh Jackman', 'Dafne Keen', 2017, 'James Mangold')
('Dangal', 'Aamir Khan', 'Kiran Rao', 2016, 'Nitesh Tiwari')

In [8]:
mycursor.execute('Select Name from movie where Release_year<2017;')
result=mycursor.fetchall()

In [7]:
for i in result:
    print(i)

('Interstellar',)
('Ms Dhoni The Untold Story',)
('Dangal',)